body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
h1 {
  color: #997F4A;
}
.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  padding-top: 3%;
  margin: 3% auto;
  div {
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 50%;
    border: solid 2px #efc36a;
    padding: 5px;
    box-shadow: 5px 5px 5px rgb(239, 195, 106);
    border-radius: 5px;
    transition: all .25s ease-in-out;
    &:hover img {
      filter: grayscale(0);
    }
    &:hover {
      border-color: #997F4A;
    }
    img {
      width: 100%;
      filter: grayscale(100%);
      border-radius: 5px;
      transition: all .25s ease-in-out;
    }
    p {
      margin: 5px 0;
      padding: 0;
      text-align: center;
      font-style: italic;
    }
  }
}
@media screen and (max-width: 485px) {
  .grid-container {
    columns: 5 200px;
    column-gap: 1.5rem;
    width: 90%;
    padding-top: 3%;
    margin: 8% auto;
    div {
      margin: 0 1.5rem 1.5rem 25%;
      display: inline-block;
      width: 35%;
      border: solid 2px #efc36a;
      padding: 5px;
      box-shadow: 5px 5px 5px rgb(239, 195, 106);
      border-radius: 5px;
      transition: all .25s ease-in-out;
      &:hover img {
        filter: grayscale(0);
      }
      &:hover {
        border-color: #997F4A;
      }
      img {
        width: 100%;
        filter: grayscale(100%);
        border-radius: 5px;
        transition: all .25s ease-in-out;
      }
      p {
        margin: 5px 0;
        padding: 0;
        text-align: center;
        font-style: italic;
      }
    }
  }
}

